hr{
  color: white;
  margin-left: 200px;
  border-style: none;
  border-width: 5px;
  width: 70%;
}
/* Navbar */
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10px;
}
#navbar{
  background-color: #000;
  color: #32c86e;
}

.navbar-brand{
  color: #dc3545;

}
.nav-link{
  color: white;
}

/* CAROUSEL */

#car{
  background: rgba(0,0,0,.25);
}


.carousel1 {
  padding-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 5%;
}
/* About Company */
.he1 {
  margin-top: 20px;
  margin-left: 70px;
}

#aboutcomp{
  background: rgba(0,0,0,.25);
}

.he2 {
  margin-left: 250px;
}

.iconw {
  margin-top: 20px;
}

.ico {
  margin-left: 30px;
}
.knm {
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 30px;
}
/* Products Section */

.proh1{
  padding-top: 30px;
  color: white;
  font-family: 'SF UI Text';
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 1.5;
  text-transform: uppercase;
}
#products{
  background-color: #16171A
}
.card-body{
  background-color: #B2B2B2;
  border-radius: 30px;
}

/* Test Ride */
#testride{
  background-color: #DDDDDD;
}


.head1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-left: 80px;
  padding-top: 40px;
}
.title-image{
  margin-left: 60px;
  margin-top: 60px;
}
.head2{
  margin-left: 80px;

}
.download-button{
  margin: 3% 3% 5% 0;
  margin-left: 80px;

}

/* Dealer Section */

.map{
  margin-left: 40px;
}

#dealer{
  background: rgba(0,0,0,.25);
}

.hea2{
  padding-top: 30px;
}

.deal{
  margin-top: 85px;
}

.sumbit{
  margin-left: 300px;
}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 250px;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    transition: 0.3s ease;
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;

}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;

}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

/* footer Section*/

#footer{
  margin-bottom: 0px;
}

.foot{
  margin-bottom: 0px;
  background-color: #303030;
  padding-bottom: 5px;
}

.f1{
  color: white;
  margin-left: 40px;
  margin-top: 30px;
}
.fhead{
  color: white;
  margin-top: 10px;
  margin-left: 460px;

}
.ra{
  margin-left: 20px;
}
/* Ban Gayi website :)  */
